In [1]:
import pandas as pd

In [2]:
s1 = pd.Series(["a", "b", "c"])
s2 = pd.Series(["d", "e", "f", "z"])

In [4]:
pd.concat([s1,s2])

0    a
1    b
2    c
0    d
1    e
2    f
3    z
dtype: object

In [5]:
pd.concat([s1,s2], ignore_index = True)

0    a
1    b
2    c
3    d
4    e
5    f
6    z
dtype: object

In [6]:
pd.concat([s1,s2], ignore_index = True, axis = 0)

0    a
1    b
2    c
3    d
4    e
5    f
6    z
dtype: object

In [7]:
pd.concat([s1,s2], ignore_index = True, axis = 1)

     0  1
0    a  d
1    b  e
2    c  f
3  NaN  z